:root {
    /* colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* font-size */
    --font-size-s: 1.5rem;
    --font-size-n: 1.6rem;
    --font-size-m: 1.8rem;
    --font-size-l: 2.4rem;
    --font-size-xl: 3.2rem;
    --font-size-xxl: 3.7rem;

    /* font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* site max width */
    --site-max-width: 1300px;
}

.section-content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 2rem;
}

h2.section-title {
    text-align: center;
    padding-bottom: 5rem;
    text-transform: uppercase;

    &::after {
        content: "";
        width: 10rem;
        height: 0.5rem;
        display: block;
        margin: 1rem auto 0;
        background: var(--secondary-color);
        border-radius: var(--border-radius-s);
    }
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

@media (max-width: 900px) {
    :root {
        --font-size-m: 1.6rem;
        --font-size-l: 2rem;
        --font-size-xl: 2.4rem;
        --font-size-xxl: 2.9rem;
    }
}
